body 
{
    line-height: 1.5;
    background-color: #c8e0fc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}

header 
{
    background: #0386b1;
    text-align: center;
    color: #040608;
    padding: 15px;
}

main 
{
    padding: 10px;
}

h2 
{
    color: #014c65;;
}

footer 
{
    background: #0386b1;
    text-align: center;
    color: #020405;;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.mi-logo {
    width: 200px; /* Cambia el número para ajustar el tamaño */
    border-radius: 10px; /* Opcional: bordes redondeados */
    display: block;
    margin-right: auto; /* La imagen se alinia a la izquierda */
    margin-top: -165px; /* Ajusta el espacio entre el encabezado y la imagen */
   
}